<div class="heading-title bg-success text-bg-success text-center">
  <h1>🐤 TS TUTORIAL 🐤</h1>
  <h4>Currently done (09/13)</h4>
</div>

<div class="logos">
  <div class="logos-slide">
    <div class="d-flex">
      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>STRING, NUMBER, BOOLEAN:</p>
        <p>{{stringValue}}, {{numberValue}}, {{booleanValue}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>OBJECT:</p>
        <p>{{person}}</p>
        <p>{{person.name}} {{person.surname}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>ARRAY:</p>
        <p>{{array}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>TUPLA: An array with each type of value predefined:</p>
        <p>{{tupla}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>ANY: Can by any type of data:</p>
        <p>{{any}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>UNION: Can be any type of data we previously defined:</p>
        <p>{{union}}</p>
      </div>
    </div>
  </div>

  <div class="logos-slide">
    <div class="d-flex">
      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>STRING, NUMBER, BOOLEAN:</p>
        <p>{{stringValue}}, {{numberValue}}, {{booleanValue}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>OBJECT:</p>
        <p>{{person}}</p>
        <p>{{person.name}} {{person.surname}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>ARRAY:</p>
        <p>{{array}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>TUPLA: An array with each type of value predefined:</p>
        <p>{{tupla}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>ANY: Can by any type of data:</p>
        <p>{{any}}</p>
      </div>

      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>UNION: Can be any type of data we previously defined:</p>
        <p>{{union}}</p>
      </div>
    </div>
  </div>
</div>


<div class="logos">
  <div class="logos-slide-reverse">
    <div class="d-flex">
      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>CUSTOM: Custom type of data.</p>
        <p>{{party.barbarian}} {{party.healer}} {{party.monk}} {{party.mage}}</p>
      </div>
      
      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>ENUM: Asigns names to numeric values</p>
        <p>Enum.ENUM3 = {{enum}}</p>
      </div>

      <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>FUNCTIONS: In TS, you can declare functions as variables.</p>
        <p>Check the console to see the function's output</p>
      </div>

      <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>CLASSES: (Consult the TS file)</p>
        <p>Data types public, private, protected, property readonly, child classes, static, abstract classes and sigleton.</p>
      </div>
    </div>
  </div>

  <div class="logos-slide-reverse">
    <div class="d-flex">
      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>CUSTOM: Custom type of data.</p>
        <p>{{party.barbarian}} {{party.healer}} {{party.monk}} {{party.mage}}</p>
      </div>
      
      <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>ENUM: Asigns names to numeric values</p>
        <p>Enum.ENUM3 = {{enum}}</p>
      </div>

      <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>FUNCTIONS: In TS, you can declare functions as variables.</p>
        <p>Check the console to see the function's output</p>
      </div>

      <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
        <p>CLASSES: (Consult the TS file)</p>
        <p>Data types public, private, protected, property readonly, child classes, static, abstract classes and sigleton.</p>
      </div>
    </div>
  </div>
</div>

  <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
    <p>INTERFACES: </p>
    <p>bla bla blah</p>
  </div>