<body>

  <div class="heading-title bg-success text-bg-success text-center">
    <h1 class="p-2">🐤 TS PRACTICE PAGE 🐤</h1>
    <h4>Currently done (13/13)🏆 // Currently done (20/20)🏆</h4>
  </div>

  <div class="sliders-container">
    <div class="logos">
      <div class="logos-slide">
        <div class="d-flex">
          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>STRING, NUMBER, BOOLEAN:</p>
            <p>{{stringValue}}, {{numberValue}}, {{booleanValue}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>OBJECT:</p>
            <p>{{person}}</p>
            <p>{{person.name}} {{person.surname}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>ARRAY:</p>
            <p>{{array}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>TUPLA: An array with each type of value predefined:</p>
            <p>{{tupla}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>ANY: Can by any type of data:</p>
            <p>{{any}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>UNION: Can be any type of data we previously defined:</p>
            <p>{{union}}</p>
          </div>
        </div>
      </div>

      <div class="logos-slide">
        <div class="d-flex">
          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>STRING, NUMBER, BOOLEAN:</p>
            <p>{{stringValue}}, {{numberValue}}, {{booleanValue}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>OBJECT:</p>
            <p>{{person}}</p>
            <p>{{person.name}} {{person.surname}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>ARRAY:</p>
            <p>{{array}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>TUPLA: An array with each type of value predefined:</p>
            <p>{{tupla}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>ANY: Can by any type of data:</p>
            <p>{{any}}</p>
          </div>

          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>UNION: Can be any type of data we previously defined:</p>
            <p>{{union}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="logos">
      <div class="logos-slide-reverse">
        <div class="d-flex">
          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>CUSTOM: Custom type of data.</p>
            <p>{{party.barbarian}} {{party.healer}} {{party.monk}} {{party.mage}}</p>
          </div>
          
          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>ENUM: Asigns names to numeric values</p>
            <p>Enum.ENUM3 = {{enum}}</p>
          </div>

          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>FUNCTIONS: In TS, you can declare functions as variables.</p>
            <p>Check the console to see the function's output</p>
          </div>

          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>CLASSES: (Consult the TS file)</p>
            <p>Data types public, private, protected, property readonly, child classes, static, abstract classes and sigleton.</p>
          </div>
        </div>
      </div>

      <div class="logos-slide-reverse">
        <div class="d-flex">
          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>CUSTOM: Custom type of data.</p>
            <p>{{party.barbarian}} {{party.healer}} {{party.monk}} {{party.mage}}</p>
          </div>
          
          <div class="epic-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>ENUM: Asigns names to numeric values</p>
            <p>Enum.ENUM3 = {{enum}}</p>
          </div>

          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>FUNCTIONS: In TS, you can declare functions as variables.</p>
            <p>Check the console to see the function's output</p>
          </div>

          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>CLASSES: (Consult the TS file)</p>
            <p>Data types public, private, protected, property readonly, child classes, static, abstract classes and sigleton.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="logos">
      <div class="logos-slide">
        <div class="d-flex">
          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>INTERFACES: </p>
            <p>Serves as the "blueprint" of variables and methods that can be included in multiple classes.</p>
          </div>
          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>GENERICS: </p>
            <p>Typename T in C++, is used to make classes and methods "independently" of types (Apply with caution).</p>
          </div>
          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>DECORATORS: </p>
            <p>Decorators modify classes and properties, methods... They can add metadata, transform class definitions or alter methods.</p>
          </div>
        </div>
      </div>

      <div class="logos-slide">
        <div class="d-flex">
          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>INTERFACES: </p>
            <p>Serves as the "blueprint" of variables and methods that can be included in multiple classes.</p>
          </div>
          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>GENERICS: </p>
            <p>Typename T in C++, is used to make classes and methods "independently" of types (Apply with caution).</p>
          </div>
          <div class="big-card bg-success text-bg-success card m-3 p-3 shadow border-dark-subtle justify-content-center">
            <p>DECORATORS: </p>
            <p>Decorators modify classes and properties, methods... They can add metadata, transform class definitions or alter methods.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex">
      <div class="epic-card bg-success-subtle card m-3 p-3 shadow">
        <p>CASTING:</p>
        <p>- Serves to use methods that otherwise will throw errors.<br/>
          In the example, .length can't be used by type any unless we use casting.</p>
        <img style="max-width: 400px; border-radius: 5px; margin: 5px;" src="../assets/casting.PNG"/>
        <button class="btn btn-success" (click)="casting()">Casting example</button>
      </div>
      <div class="epic-card bg-success-subtle card m-3 p-3 shadow">
        <p>KEYOF:</p>
        <p>- Serves to access the properties of an object.<br/></p>
        <img style="max-width: 700px; border-radius: 5px; margin: 5px;" src="../assets/keyof.PNG"/>
      </div>
      <div class="epic-card bg-success-subtle card m-3 p-3 shadow">
        <p>NULLISH COALESCENCE: ??</p>
        <p>- It serves to assign a value whenever the original value is null.</p>
        <img style="max-width: 600px; border-radius: 5px; margin: 5px;" src="../assets/nullish.png"/>
      </div>
    </div>
  </div>
</body>